* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 25rem;
  text-align: center;
  padding: 1rem 3rem;
  background-color: aquamarine;
  border-radius: 1rem;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: cadetblue;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.text {
  margin-top: 1rem;
  font-size: 1.5rem;
}
